.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 23px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #a4a4a4,
            inset -5px -5px 10px #ffffff;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    columns: 3;
    border-radius: 23px;
    font-weight: bold;
    
    
    
  }
  
  li {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  a {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #0056b3; 
  }
  img {
    max-width: 256px;
    align-self: center;
    border-radius: 22px;
  }
  @media only screen and (max-width: 600px) {
    ul {
      columns: 1;
    }
  }
  p {
    color: #000;
    font-weight: bold;
}

  
 